# python installed packages
.venv/

# dataset
dataset.zip
dataset

# pycache
__pycache__

# wandb logs
wandb

# macOS .DS_Store file that stores custom attributes of its containing folder
.DS_Store

# mypy cache
.mypy_cache

# ruff cache
.ruff_cache

# wandb project cache
image_classification/

# lightning logs
lightning_logs/

# jupyter notebook checkpoints
.ipynb_checkpoints/
